
QWidget {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Кнопки */
QPushButton {
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #e0e0e0;
}

QPushButton:pressed {
    background-color: #d0d0d0;
}

/* Текстовые поля */
QLineEdit, QTextEdit {
    background-color: #ffffff;
    color: black;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 3px;
}

QListWidget, QTableWidget {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    color: black;
    gridline-color: #dcdcdc;
}


QComboBox {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    color: black;
}


QSlider::groove:horizontal {
    height: 5px;
    background: #dcdcdc;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    width: 15px;
    height: 15px;
    background: #a0a0a0;
    border: 1px solid #808080;
    border-radius: 7px;
}

QSlider::handle:horizontal:hover {
    background: #808080;
}

